body {
	font-family: 'Open Sans';
	color: #fff;
	//background: linear-gradient(214deg, #232323,#333333, #264157, #3689a0,  #444444, #264157);
	background: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    top: 0;
    position: absolute;
    background: linear-gradient(214deg, #232323,#333333, #264157, #3689a0,  #444444, #264157);
        -webkit-animation: Gradient_Flow 92s ease infinite;
        -moz-animation: Gradient_Flow 92s ease infinite;
        -o-animation: Gradient_Flow 92s ease infinite;
        animation: Gradient_Flow 92s ease infinite;
}

.hidden{
    display: none !important;
}