.action_panel{
	position:absolute;
	//right: 0;
	// dtop:0;
	width: auto;
	padding-top: 20px;
}
.menu-primary-top-collapsed {
    position: absolute;
    background: RGBA(84, 84, 84, 1.00);
    /* right: 0; */
    bottom: 0;
    left: 0;
    width: 200px;
    height: 70px;
    z-index: 1000;
    float: left;
    margin: 30px;
    padding: 0 40px;
    display: inline-block;
}
nav.navbar {
		background-size: 1200% 1200%;
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1001;
		padding: 0;
		background: linear-gradient(214deg, #232323,#333333, #264157, #3689a0,  #444444, #264157);
		-webkit-animation: Gradient_Flow1 92s ease infinite;
		-moz-animation: Gradient_Flow1 92s ease infinite;
		-o-animation: Gradient_Flow1 92s ease infinite;
		animation: Gradient_Flow1 92s ease infinite;
		    mix-blend-mode: difference;
    	//background-color: inherit;
		.navbar-nav .nav-link {
		        color: white;
			    font-size: 14px;
			    padding: 15px 10px;
			
		}
		#navbarTogglerDemo02 {
		    padding: 0 50px;
		}
		.sub-menu{
			display: none;
		}
		.space_item{
			    margin: 0 20px;
	    		border-right: 1px solid rgba(250,250,250,0.2);
			a{
				display: none;
			}
		}
		.social{
			i{
				    padding: 14px 10px 10px;
			}
		}
}

@-webkit-keyframes Gradient_Flow1 {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@-moz-keyframes Gradient_Flow1 {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@-o-keyframes Gradient_Flow1 {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@keyframes Gradient_Flow1 { 
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
