.slick-initialized .slick-slide {
  		


    &.slick-center{
    	//padding: 50px;
    }
}

.skill_slider{
	border-bottom: 30px solid white;
	.word_base{
		width: 50%;
		display: block;
		float: left;
		background: RGBA(84, 84, 84, 0.9) ;
		padding: 60px 0 60px;
		mix-blend-mode: exclusion;
		h4{
		    text-align: right;
		    /* margin-bottom: -30px; */
		    z-index: 100;
		    color: white;
		  
		    margin-top: 20px;
		    letter-spacing: 10px;
		    text-transform: uppercase;
		}
	}
	.word_slider{
			width: 50%;
			float: right;
			background: RGBA(84, 84, 84, 0.9) ;
			padding: 60px 0 60px;
			mix-blend-mode: exclusion;
				.slide{
  				   // display: block;
				   // background: RGBA(84, 84, 84, 0.9) ;
				    //margin: 10px;
				    //padding: 60px 0 60px;
				    
				    mix-blend-mode: exclusion;

				    h4{
				    	//font-size: 1.25rem;
					    color: rgba(250, 250, 250, 0.8);
					    text-align: left;
					    text-transform: uppercase;
					    mix-blend-mode: exclusion;
					    letter-spacing: 1.2em;
					    font-size: 13px;
				    }
  			}
	}
	
}