.slick-initialized .slick-slide {
  			.slide{
  				    display: block;
				    background: RGBA(84, 84, 84, 0.9) ;
				    margin: 10px;
				    padding: 40px 0 60px;
				    mix-blend-mode: exclusion;

				    h3{
				    	//font-size: 1.25rem;
					    color: rgba(250, 250, 250, 0.8);
					    text-align: center;
					    text-transform: uppercase;
					    mix-blend-mode: exclusion;
					    letter-spacing: 1.2em;
				    }
  			}
    &.slick-center{
    	//padding: 50px;
    }
}