//@import "~bootstrap/scss/bootstrap.scss";
@import "navbar.scss";



body {
	font-family: 'Open Sans';
	color: #fff;
	//background: linear-gradient(214deg, #232323,#333333, #264157, #3689a0,  #444444, #264157);
	background-size: 1200% 1200%;

	-webkit-animation: Gradient_Flow 92s ease infinite;
	-moz-animation: Gradient_Flow 92s ease infinite;
	-o-animation: Gradient_Flow 92s ease infinite;
	animation: Gradient_Flow 92s ease infinite;

}

@-webkit-keyframes Gradient_Flow {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@-moz-keyframes Gradient_Flow {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@-o-keyframes Gradient_Flow {
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}
@keyframes Gradient_Flow { 
    0%{background-position:26% 0%}
    50%{background-position:75% 100%}
    100%{background-position:26% 0%}
}

/*
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

*/
h1 {
	font-weight: 300;
	text-align: center;
	position: absolute;
	top: 45%;
	right: 0;
	left: 0;
}

header{
	z-index: 100;
    display: block;
    position: relative;
    
    padding: 20px;
    margin-top: 300px;
    .background{
    	mix-blend-mode: difference;
		background: RGBA(38, 38, 38, 0.8);
		
    }
    #logo{
	   	margin: 20px auto;
	    position: relative;
	    display: block;
    }
	h1{
		mix-blend-mode: difference;
	}
}

.start_image {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    img{
  	    position: relative;
	    margin: 10px auto;
	    display: block;
	    height: 100%;
	    mix-blend-mode: difference;
    }
}


#Orbit {
    position: fixed;
    top: 0;
        top: 0;
    left: 0;
    width: 100%;
}